h1.header{
font-size:70px;
text-align:center;
font-family: Georgia, 'Times New Roman', Times, serif;

}
form{
    background-color: rgba(23, 148, 148, 0.418);
    border:20px;
    border-color:black;
    padding:20px;
    margin:20px;
}
div.border{
    padding: 20px;
    background-color: white;
    margin:10px;
    border:3px;
    border-style: solid;
    border-color:rgb(7, 2, 10)
}
div h1{
    text-align:center;
}
div.payment{
    padding: 20px;
    background-color: white;
    margin:10px;
    border:3px;
    border-style: solid;
    border-color:rgb(7, 2, 10)
}
h2.details{
    text-align:center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea,select{
    padding:15px;
    width: 97%;
}
input[type="submit"]{
    text-align:center;
    background-color:grey;
    color:black;
    width:100px;
    height:40px;
    padding:5px;
    font-size:20px;
    font-family:monospace;
    border-radius:3px;
    cursor:pointer;
    
}
.pay{
    text-align:center;
}
select{
    width:99%
}